div.leaflet-left.leaflet-top a.leaflet-control-layers-toggle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-image: url('../images/earthquakes.png')
}
div.leaflet-left.leaflet-top a.leaflet-control-earthquakes {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-image: url('../images/earthquakes-2.png')
}
div.leaflet-popup-content h3 {
  margin: 0 0 5px 0;
}